################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

publish/
